html
    {% if name %}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> thank you for your <b>{{name}}</b> sends
    {% endif %}
